version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    allow:
      - dependency-type: all
    labels:
      - ':horse: chore'
      - ':rocket: automerge'
    open-pull-requests-limit: 10
    reviewers:
      - ajtorres9
      - brian-dlee
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
    allow:
      - dependency-type: all
    labels:
      - ':horse: chore'
      - ':rocket: automerge'
    open-pull-requests-limit: 10
    reviewers:
      - ajtorres9
      - brian-dlee
    versioning-strategy: increase
  - package-ecosystem: pip
    directory: /packages/ai
    schedule:
      interval: daily
    allow:
      - dependency-type: all
    labels:
      - ':horse: chore'
      - ':rocket: automerge'
    open-pull-requests-limit: 10
    reviewers:
      - ajtorres9
      - brian-dlee
