[build-system]
requires = ["poetry>=1.1"]
build-backend = "poetry.masonry.api"

[tool.black]
line-length = 80

[tool.poetry]
name = "ai"
version = "0.1.0"
description = "The brains of the operation"
keywords = [
  "artificial-intelligence",
  "machine-learning",
  "natural-language-processing",
  "neural-network"
]
homepage = "https://github.com/ajtorres9/marvin#readme"
license = "MIT"
readme = "readme.md"
authors = [
  "Andrew Torres <andrew.jonathan.torres@gmail.com>",
  "Brian Lee <briandl92391@gmail.com>"
]
repository = "https://github.com/ajtorres9/marvin/tree/master/packages/ai"

[tool.poetry.dependencies]
python = "^3.9"

[tool.poetry.dev-dependencies]
black = "^21.9b0"
flake8 = "^3.9.2"
flake8-black = "^0.2.3"
flake8-bugbear = "^21.9.2"
flake8-docstrings = "^1.6.0"
flake8-formatter-junit-xml = "^0.0.6"
flake8-import-order = "^0.18.1"
flake8-rst-docstrings = "^0.2.3"
mypy = "^0.910"
pep8-naming = "^0.12.1"
pytest = "^6.2.5"
pytest-cov = "^3.0.0"
