name: CI
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
jobs:
  root_static_analysis:
    name: Root Static Analysis
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Setup Node
        uses: actions/setup-node@v2.1.5
        with:
          node-version: 14.16
      - name: Install Yarn
        run: npm install --global yarn@1.22
      - name: Set Yarn cache directory
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Restore Yarn cache
        uses: actions/cache@v2.1.4
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: yarn-cache-${{ hashFiles('yarn.lock') }}
          restore-keys: yarn-cache-
      - name: Install Node dependencies
        run: yarn install --frozen-lockfile
      - name: Lint files
        run: yarn --silent lint:files
  ai_static_analysis:
    name: AI Static Analysis
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Setup Node
        uses: actions/setup-node@v2.1.5
        with:
          node-version: 14.16
      - name: Set Yarn cache directory
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Restore Yarn cache
        uses: actions/cache@v2.1.4
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: yarn-cache-${{ hashFiles('yarn.lock') }}
          restore-keys: yarn-cache-
      - name: Install Node dependencies
        run: yarn install --frozen-lockfile
      - name: Setup Python
        uses: actions/setup-python@v2.2.1
        with:
          python-version: 3.9
      - name: Install Poetry
        run: pip install --upgrade pip poetry>=1.1
      - name: Set Poetry cache directory
        id: poetry-cache
        run: echo "::set-output name=dir::$(poetry config cache-dir)"
      - name: Restore Poetry cache
        uses: actions/cache@v2.1.4
        with:
          path: ${{ steps.poetry-cache.outputs.dir }}
          key: ai-poetry-cache-${{ hashFiles('packages/ai/poetry.lock') }}
          restore-keys: ai-poetry-cache-
      - name: Install Python dependencies
        run: poetry install
        working-directory: packages/ai
      - name: Lint files, scripts, and types
        run: yarn --silent lint
        working-directory: packages/ai
  ai_test:
    name: AI Test
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Set Yarn cache directory
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: Restore Yarn cache
        uses: actions/cache@v2.1.4
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: yarn-cache-${{ hashFiles('yarn.lock') }}
          restore-keys: yarn-cache-
      - name: Install Node dependencies
        run: yarn install --frozen-lockfile
      - name: Setup Python
        uses: actions/setup-python@v2.2.1
        with:
          python-version: 3.9
      - name: Install Poetry
        run: pip install --upgrade pip poetry>=1.1
      - name: Set Poetry cache directory
        id: poetry-cache
        run: echo "::set-output name=dir::$(poetry config cache-dir)"
      - name: Restore Poetry cache
        uses: actions/cache@v2.1.4
        with:
          path: ${{ steps.poetry-cache.outputs.dir }}
          key: ai-poetry-cache-${{ hashFiles('packages/ai/poetry.lock') }}
          restore-keys: ai-poetry-cache-
      - name: Install Python dependencies
        run: poetry install
        working-directory: packages/ai
      - name: Test units
        run: yarn --silent test:units --cov ai --cov-branch --cov-report xml --doctest-modules
        working-directory: packages/ai
      - name: Publish code coverage report
        uses: codecov/codecov-action@v1.3.1
        with:
          flags: ai
